.advanced-search-btn {
  justify-content: center;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  box-shadow: 0 0 3px 1px #343a40;
}

.rounded-btn {
  border-radius: 50px;
  max-height: 40px;
  align-self: center;
}

.scroll-top-btn-container {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.scroll-top-btn {
  font-size: 41px;
  height: 40px;
  width: 40px;
  justify-content: center;
  box-shadow: 0 0 0 3px rgb(13 110 253);
}