.gallery-btn {
  display: block;
  position: absolute;
  top: calc(50% - 15px);
  opacity: 0.3;
  z-index: 2;
}

.gallery-item {
  top: 0;
  position: absolute;
  opacity: 0;
  width: 100%;
  transition: all 0.3s ease;
}

.inactive-right {
  transform: translateX(100%);
}

.inactive-left {
  transform: translateX(-100%);
}

.active {
  opacity: 1;
  transform: translateX(0);
}


.previous-btn:extend(.gallery-btn) {
  left: 5px;
}

.next-btn:extend(.gallery-btn) {
  right: 5px;
}

.previous-btn:hover {
  opacity: 1;
}

.next-btn:hover {
  opacity: 1;
}

.image-number-background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 10%;
  padding: 0.625rem 0.5rem;
}

.image-number-top-left {
  top: 10%;
  left: calc(5% - 8px);
}

.image-number-top-right {
  top: 10%;
  right: calc(5% - 8px);
}

.image-number-bottom-left {
  bottom: 10%;
  left: calc(5% - 8px);
}

.image-number-bottom-right {
  top: 10%;
  right: calc(5% - 8px);
}

.image-number {
  font-family: open-sans;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.gallery-item-container {
  position: relative;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 540px) {

  .image-number-background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10%;
    padding: 4px;
  }

  .image-number-top-left {
    top: 5%;
    left: calc(5% - 8px);
  }

  .image-number-top-right {
    top: 5%;
    right: calc(5% - 8px);
  }

  .image-number-bottom-left {
    bottom: 5%;
    left: calc(5% - 8px);
  }

  .image-number-bottom-right {
    top: 5%;
    right: calc(5% - 8px);
  }

  .gallery {
    position: relative;
    height: 50vh;
  }
}

@media (min-width: 768px) {
  .gallery {
    position: relative;
    height: 70vh;
  }
}

@media (min-width: 992px) {
  .gallery {
    position: relative;
    height: 75vh;
  }
}
