nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.footer {
    width: 100%;
    background-color: #222;
    color: #fff;
}

.footer-contents {
    padding: 1.5rem;
    font-size: 18px;
}

.custom-height-container {
    min-height: 80vh;
}

@media(min-width: 360px) {
    .custom-navbar {
        padding: 0.5rem 1rem;
    }
}

@media(min-width: 768px) {
    .custom-navbar {
        padding: 1rem;
    }
}

@media(min-width: 992px) {
    .custom-navbar {
        padding: 0.5rem 2rem;
    }
}
