.box {
    border-radius: 0.5px;
    border-style: solid;
    height: 200px;
    width: auto;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.loading-spinner {
    position: relative;
    top: 30vh;
}

@media(min-width: 992px) {
    .contents {
        max-width: 65%;
    }

    .row {
        justify-content: center;
    }
}

