.box {
    border-radius: 0.5px;
    border-style: solid;
    height: 200px;
    width: auto;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.loading-spinner {
    position: relative;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

main {
    background-color: #fff;
}

@media(max-width: 575px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

@media(min-width: 768px) {
    .contents {
        max-width: clamp(65%, 75%, 100%);
    }

    .row {
        justify-content: center;
    }
}