.custom-card {
    max-height: 100vh;
}

.custom-card-no-border {
    border-width: 0;
    border-radius: 0;
    .card-body {
        padding: 0;
    }
}

.post-buttons {
    font-family: open-sans;
    text-align: center;
}

.crop-content {
    overflow: hidden;
}

.custom-btn {
    padding: 0;
}

.vote-btn {
    padding: 0;
}

.post-buttons:hover {
    background-color: gainsboro;
    border-radius: 4px;
}

.button-group {
    justify-items: center;
    padding: 0 1rem 0 2rem;
}

.post-author {
    font-size: 14px;
}

.post-comments > p {
    font-size: 14px;
    white-space: break-spaces;
    overflow-wrap: break-word;
}

.markdown > p {
    margin-bottom: 0.5rem;
}

.markdown-comments > p {
    margin-bottom: 0;
}

.comments-section {
    max-width: 100%;
    margin-top: 1rem;
}

