.post-buttons {
    flex-grow: 1;
}

.custom-btn {
    padding: 0;
}

.vote-btn {
    padding: 0;
}

.vote-btn-up:hover {
    color: orangered;
}

.vote-btn-down:hover {
    color: dodgerblue;
}

.post-buttons:hover {
    background-color: gainsboro;
    border-radius: 4px;
}

.button-group {
    justify-items: center;
}

