@media(min-width: 360px) {
    .banner {
        display: flex;
        flex-direction: row;
        padding: 0 0.5rem 0 0.5rem
    }
}

@media(min-width: 480px) {
    .banner {
        display: flex;
        flex-direction: row;
        padding: 0 1rem 0 1rem
    }
}


@media(min-width: 768px) {
    .banner {
        display: flex;
        flex-direction: row;
        padding: 1rem 3rem 1rem 3rem
    }
}

@media(min-width: 992px) {
    .banner {
        display: flex;
        flex-direction: row;
        padding: 1rem 10rem 1rem 10rem
    }
}