@import "../_vars.less";

.set-theme(dark, @color, @background-color) {
    background-color: @background-color;
    color: @color;

    main {
        background-color: @background-color;
    }

    .set-theme-foreground(@color, @background-color-dark-elevated, @background-color-dark-elevated-1, @background-color-dark-elevated-variant);

    .dropdown-menu {
        background-color: @background-color-dark-elevated-1;
        color: @color;
    }

    .dropdown-item:hover {
        color:  @background-color-dark-elevated-variant;
    }

    .btn-secondary {
        background-color: transparent;
        color: @color
    }
}