@import "../_vars.less";
@import "./_dark-theme.less";
@import "./_candy-theme.less";
@import "./_steam-theme.less";

.theme-mixin(dark) {
    .set-theme(dark, @color-dark, @background-color-dark);
}

.theme-mixin(candy) {
    .set-theme(candy, @color, @background-color);
}

.theme-mixin(steam) {
    .set-theme(steam, @color-steam, @background-color-steam);
}

.set-post-button-mixin(@background, @border-radius) {
    background: @background;
    border-radius: 4px;
}

.set-post-buttons-hover(@background) {
    .post-buttons:hover {
        .set-post-button-mixin(@background, 4px);
    }
}

.set-theme-foreground(@color, @background-color-variant, @background-color-variant-1, @background-color-variant-2) {
    nav, .side-menu, .side-menu-show {
        background-color: @background-color-variant-1;
    }

    .hamburger-btn div {
        background-color: if(luma(@background-color-variant-1) > 50%, @color, #f5f5f5);
    }

    .thumbnail {
        background: if(luma(@background-color-variant-1) > 50%, @color, @background-color-variant-1);
    }

    .children, .card, .modal-content {
        background-color: @background-color-variant;
    }

    button, button:hover, .md, .md table, .post-buttons, .dropdown-item {
        color: @color;
    }

    .set-post-buttons-hover(@background-color-variant-2);

    .form-select, .form-control {
        background-color: @background-color-variant;
        color: @color;
    }

    .svg-icon {
      fill: @color;
    }
}

.dark-theme {
    .theme-mixin(dark);
}

.candy-theme {
    .theme-mixin(candy);
}

.steam-theme {
    .theme-mixin(steam);
}
