<div class="d-flex flex-row p-2">
  <div class="submission-vote">
    <app-vote [id]="submissionData['id']" [isCompactView]="true" [score]="submissionData['score']"
    [liked]="submissionData['likes']"></app-vote>
  </div>
  <!-- Thumbnail  -->
  <div class="submission-thumbnail">
    <img *ngIf="submissionData['thumbnail']; else placeholderIcon" class="thumbnail"
      [src]="submissionData['thumbnail']">
    <ng-template #placeholderIcon>
      <div class="thumbnail">
        <span class="icon-before icon-newspaper icon-thumbnail"></span>
      </div>
    </ng-template>
  </div>

  <!-- Title, subreddit, author -->
  <div class="d-flex flex-column submission-title">
    <p>{{submissionData.title | replacePipe}}</p>
    <div class="d-flex">
      <span>{{subredddit}}</span>

      <a class="ml-2" [routerLink]="'/u/' + submissionData['author']" [routerLinkActive]="'active'">Posted by
        /u/{{submissionData['author']}}</a>

      <span [title]="submissionData['created_utc'] | dateTimePipe: 'format'"
        class="ml-2">{{ submissionData['created_utc'] | dateTimePipe: 'diff' }}</span>
    </div>
  </div>

</div>
