<div class="position-relative">
  <button class="btn btn-light previous-btn" (click)="previous()">
    <div class="icon-before icon-less-than"></div>
  </button>

  <div class="d-flex" [ngClass]="configs.class" #gallery>
    <ng-content></ng-content>
  </div>


  <button class="btn btn-light next-btn" (click)="next()">
    <div class="icon-before icon-greater-than"></div>
  </button>

  <div *ngIf="childList.length > 0" class="image-number-background" [ngClass]="positionClass">
    <span class="image-number">{{elementIndex + 1}} / {{childList.length}}</span>
  </div>
</div>