<nav class="custom-navbar">
  <div class="d-flex flex-row">
    <a routerLink="/" class="mr-3">
      <img class="navbar-icon" src="../../../assets//images/reddit.png">
    </a>
    <span routerLink="/" class="text d-flex align-items-center mr-auto">Angular Reddit</span>
    <span [routerLink]="'u/'+ user.name" *ngIf="user" class="d-flex align-items-center mr-3">{{user.name}}</span>
    <div class="d-flex align-items-center">
      <button *ngIf="!user.name" (click)="login()" class="btn btn-success">Login</button>
      <button *ngIf="user?.name" (click)="logout()" class="btn btn-danger">Log out</button>
    </div>


  </div>

</nav>
