<nav class="custom-navbar">
  <div class="d-flex flex-row">
    <a routerLink="/" class="me-3">
      <img class="navbar-icon" src="../../../assets/images/reddit.png">
    </a>
    <span routerLink="/" class="d-flex align-items-center me-auto pointer">Angular Reddit</span>

    <div *ngIf="!isMobile()" class="pt-2">
      <search-bar [showSearchBtn]="true"></search-bar>
    </div>


    <ng-container *ngIf="userSubscribtion | async">

      <ng-container *ngIf="!isMobile()">
        <div *ngIf="isLoggedIn()" ngbDropdown class="ms-auto d-flex align-items-center pointer me-4">
          <img class="profile-img me-1" [src]="user.icon_img | replacePipe">
          <span ngbDropdownToggle>{{user.name}}</span>

          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <a ngbDropdownItem class="pointer" (click)="goToProfile()">My Profile</a>

            <a ngbDropdownItem class="pointer" (click)="goToPreferences()">Preferences</a>

            <div class="d-flex pt-1 pb-1 ps-3 pe-3">
              <span class="icon-before icon-moon me-2"></span>
              <toggle-button [state]="themeToggleState" (toggleState)="themeToggle($event)"></toggle-button>
              <span class="icon-before icon-sun ms-2"></span>
            </div>

            <div ngbDropdownItem class="d-flex" (click)="openHelpPage()">
              <span class="icon-before icon-question me-1"></span>
              <span class="pointer">Help</span>
            </div>

            <div ngbDropdownItem class="d-flex">
              <span class="icon-before icon-info me-1"></span>
              <span class="pointer">About</span>
            </div>

            <div ngbDropdownItem class="d-flex" (click)="logout()">
              <span class="icon-before icon-sign-out me-1"></span>
              <span class="pointer">Logout</span>
            </div>

          </div>
        </div>

        <button *ngIf="!isLoggedIn()" (click)="login()" class="btn btn-success sign-in-btn ms-auto">Sign In</button>
      </ng-container>

    </ng-container>
  </div>

  <div [ngClass]="{'side-menu-show': menuToggle, 'side-menu': !menuToggle}">
    <div class="mt-5" [ngClass]="{'mobile-nav-item-2': isLoggedIn()}">
      <search-bar [showSearchBtn]="false"></search-bar>
    </div>

    <a class="mobile-nav-item mobile-nav-text mt-3" *ngIf="!isLoggedIn()" (click)="login()">Login</a>
    <ng-container *ngIf="isLoggedIn()">
      <div (click)="goToProfile()" class="mobile-nav-item mt-3">
        <img class="profile-img-mobile" [src]="user.icon_img | replacePipe">
      </div>

      <span class="mobile-nav-item" (click)="goToProfile()" *ngIf="isLoggedIn()">/u/{{user.name}}</span>
      <span class="mobile-nav-text" (click)="goToPreferences()">Preferences</span>
      <span class="mobile-nav-text" (click)="openHelpPage()">Help</span>
      <span class="mobile-about-btn mobile-nav-text">About</span>
  
      <a class="mobile-nav-text icon-before icon-sign-out" (click)="logout()">Log out</a>
    </ng-container>
    <span class="icon-before size-32 mobile-change-theme-btn" [ngClass]="{'icon-moon': themeToggleState, 'icon-sun': !themeToggleState}" (click)="themeToggle(!themeToggleState)"></span>

  </div>

  <button *ngIf="isMobile()" (click)="toggleMenu()" [ngClass]="{'hamburger-btn-clicked': menuToggle}"
    class="hamburger-btn">
    <div></div>
    <div></div>
    <div></div>
  </button>

</nav>
