<div class="card" [ngClass]="{'custom-card': !isDetail, 'mb-5': !isDetail, 'custom-card-no-border': isDetail}">
  <div class="card-body crop-content" [ngClass]="{'mb-3': isDetail}">
    <div (click)="viewDetail()" class="d-flex flex-row post-author">
      <a [routerLink]="'/' + post?.data['subreddit_name_prefixed']" [replaceUrl]="true" [routerLinkActive]="'active'" class="mr-auto">{{post?.data['subreddit_name_prefixed']}}</a>
      <a [routerLink]="'/u/' + post?.data['author']" [routerLinkActive]="'active'">by /u/{{post?.data['author']}}</a>
      <span [title]="post.data['created_utc'] | dateTimePipe: 'format'" class="ml-2">{{ post.data['created_utc'] | dateTimePipe: 'diff' }}</span>
    </div>

    <h5 (click)="viewDetail()" class="card-title">{{post?.data['title']}}</h5>

    <ng-container *ngIf="isCrossPost()">
      <h5>Crosspost: {{post.data['crosspost_parent']}}</h5>
    </ng-container>

    <ng-container *ngIf="hasImages()">
      <div [ngClass]="{'crop-height': !isDetail, 'blur-img': post.data['over_18']}" class="img-container">
        <img (click)="viewDetail()" class="img-fluid center-img scale-img" src="{{getImage()}}">
      </div>
    </ng-container>

    <ng-container *ngIf="isVideo()">
      <div [ngClass]="{'blur-img': post.data['over_18']}" class="embed-responsive scale-media">
        <video controls class="embed-responsive-item media letter-box-color">
        <source [src]="getVideo() | safe: 'resourceUrl'" type="video/mp4"></video>
      </div>
    </ng-container>

    <div (click)="viewDetail()" class="markdown" appMarkdown [selfText]="post?.data['selftext']"></div>

  </div>
  <div class="card-footer d-flex button-group">
    <app-vote [score]="post?.data['score']"
              [id]="post?.data['name']"
              [liked]="post?.data['likes']"
    ></app-vote>

    <div class="p-2 post-buttons align-self-center flex-fill">
      <button class="btn custom-btn d-md-none">
        <span class="font-weight-bold mr-2">{{post?.data['num_comments']}}</span>
        <i class="fas fa-comment-dots"></i>
      </button>

      <button (click)="viewDetail()" class="btn custom-btn d-none d-md-inline">
        <span class="font-weight-bold">{{post?.data['num_comments']}}</span>
        Comments
      </button>
    </div>

    <div class="p-2 post-buttons align-self-center flex-fill">
      <button class="btn custom-btn">
        <i class="fas fa-gift"></i>
        <span class="d-none d-md-inline"> Give Award</span>
      </button>

    </div>

    <div class="p-2 post-buttons align-self-center flex-fill">
      <button class="btn custom-btn">
        <i class="fas fa-share"></i>
        <span class="d-none d-md-inline"> Share</span>
      </button>
    </div>

  </div>
</div>
