<div class="card" [ngClass]="{'custom-card': !isDetail, 'mb-5': !isDetail, 'custom-card-no-border': isDetail}">
  <div class="card-body crop-content" [ngClass]="{'mb-3': isDetail}">

    <div class="card-side-padding">
      <!-- Subreddit - author - post date -->
      <div (click)="viewDetail()" class="d-flex flex-row post-author">
        <a [routerLink]="'/' + post?.data['subreddit_name_prefixed']" [replaceUrl]="true" [routerLinkActive]="'active'"
          class="mr-auto">{{post?.data['subreddit_name_prefixed']}}</a>
        <a [routerLink]="'/u/' + post?.data['author']" [routerLinkActive]="'active'">by /u/{{post?.data['author']}}</a>
        <span [title]="post.data['created_utc'] | dateTimePipe: 'format'"
          class="ml-2">{{ post.data['created_utc'] | dateTimePipe: 'diff' }}</span>
      </div>

      <!-- Awards -->
      <ng-container *ngIf="post.data['all_awardings'] && post.data['all_awardings'].length > 0">
        <app-award [isDetail]="isDetail" [awards]="post.data['all_awardings']"></app-award>
      </ng-container>

      <h5 (click)="viewDetail()" class="card-title mb-2">{{post?.data['title']}}</h5>

      <div *ngIf="isOver18()" class="mb-2">
        <span class="nsfw-text">NSFW</span>
      </div>

      <ng-container *ngIf="isCrossPost()">
        <h5>Crosspost: {{post.data['crosspost_parent']}}</h5>
      </ng-container>
    </div>

    <ng-container *ngIf="hasImages()">
      <div [ngClass]="{'crop-height': !isDetail, 'blur-img': isOver18() && !over18_consent}" class="img-container">
        <img (click)="viewDetail()" class="img-fluid center-img scale-img" src="{{getImage()}}">
      </div>
    </ng-container>

    <ng-container *ngIf="isGallery()">
      <app-gallery [data]="galleryData" [configs]="galleryConfigs"></app-gallery>
    </ng-container>

    <ng-container *ngIf="isVideo()">
      <div [ngClass]="{'blur-img': isOver18() && !over18_consent}" class="embed-responsive scale-media">
        <video *ngIf="!isEmbededLink()" controls class="embed-responsive-item media letter-box-color">
          <source [src]="getVideo() | safe: 'resourceUrl'" type="video/mp4"></video>
        <iframe *ngIf="isEmbededLink()" [src]="getVideo() | safe: 'resourceUrl'"></iframe>
      </div>
    </ng-container>

    <div class="card-side-padding" *ngIf="isEmbededLink() && !isVideo()">
      <a class="d-flex flex-row" [href]="post.data['url']" target="_blank">
        <span class="mr-auto">{{ post.data['url'] }}</span>
        <img class="" *ngIf="post.data['thumbnail']" [src]="post.data['thumbnail'] | replacePipe">
      </a>
    </div>

    <div #twitterEmbed *ngIf="isEmbededLink() && isTwitterEmbedded()">
    </div>

    <!-- Post text content -->
    <ng-container *ngIf="!isComment(); else commentBlock">
      <div (click)="viewDetail()" class="markdown card-side-padding" appMarkdown [selfText]="post?.data['selftext']">
      </div>
    </ng-container>

    <ng-template #commentBlock>
      <div class="card-side-padding">
        <span>Commented on <a target="_blank" [href]="post.data['link_url']"
            class="font-weight-bold">{{post.data['link_title']}}</a></span>
        <div (click)="viewDetail(true)" class="post-comments markdown-comments" appMarkdown
          [selfText]="post?.data['body']"></div>
      </div>

    </ng-template>

  </div>

  <!-- Vote - Comments - Share section -->
  <div class="card-footer d-flex button-group">
    <app-vote [score]="post?.data['score']" [id]="post?.data['name']" [liked]="post?.data['likes']"></app-vote>

    <div (click)="viewDetail()" class="p-2 post-buttons align-self-center flex-fill">
      <button class="btn custom-btn d-md-none">
        <span class="font-weight-bold mr-2">{{post?.data['num_comments']}}</span>
        <i class="fas fa-comment-dots"></i>
      </button>

      <button class="btn custom-btn d-none d-md-inline">
        <span class="font-weight-bold">{{post?.data['num_comments']}}</span>
        Comments
      </button>
    </div>

    <div class="p-2 post-buttons align-self-center flex-fill">
      <button class="btn custom-btn">
        <i class="fas fa-gift"></i>
        <span class="d-none d-md-inline">Give Award</span>
      </button>

    </div>

    <div class="p-2 post-buttons align-self-center flex-fill">
      <button class="btn custom-btn">
        <i class="fas fa-share"></i>
        <span class="d-none d-md-inline">Share</span>
      </button>
    </div>

  </div>
</div>
