<div class="card" [ngClass]="{'custom-card': !isDetail, 'mb-5': !isDetail, 'custom-card-no-border': isDetail}">
  <div class="card-body">
    <div (click)="viewDetail()" class="d-flex flex-row post-author">
      <a href="#" class="mr-auto">{{post?.data['subreddit_name_prefixed']}}</a>
      <a href="#">by /u/{{post?.data['author']}}</a>
    </div>

    <h5 (click)="viewDetail()" class="card-title">{{post?.data['title']}}</h5>

    <ng-container *ngIf="isCrossPost()">
      <h5>Crosspost: {{post.data['crosspost_parent']}}</h5>
    </ng-container>

    <ng-container *ngIf="hasImages()">
      <div class="crop-height">
        <img (click)="viewDetail()" class="img-fluid center-img scale-img" src="{{getImage()}}">
      </div>
    </ng-container>

    <ng-container *ngIf="isVideo()">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe allowfullscreen loading="lazy" class="embed-responsive-item"
          [src]="getVideo() | safe: 'resourceUrl'"></iframe>
      </div>
    </ng-container>

    <p (click)="viewDetail()" class="card-text post-self-text">{{post?.data['selftext']}}</p>

    <div class="d-flex button-group">
      <div class="p-2 post-buttons d-flex">

        <a (click)="vote(1)" class="icon-before icon-up"></a>

        <span class="align-self-center font-weight-bold">{{post?.data['score']}}</span>

        <a (click)="vote(-1)" class="icon-after icon-down"></a>

      </div>

      <div class="p-2 post-buttons align-self-center flex-fill">
        <button class="btn custom-btn d-md-none">
          <span class="font-weight-bold mr-2">{{post?.data['num_comments']}}</span>
          <i class="fas fa-comment-dots"></i>
        </button>

        <button class="btn custom-btn d-none d-md-inline">
          <span class="font-weight-bold">{{post?.data['num_comments']}}</span>
          Comments
        </button>
      </div>

      <div class="p-2 post-buttons align-self-center flex-fill">
        <button class="btn custom-btn">
          <i class="fas fa-gift"></i>
          <span class="d-none d-md-inline"> Give Award</span>
        </button>

      </div>

      <div class="p-2 post-buttons align-self-center flex-fill">
        <button class="btn custom-btn">
          <i class="fas fa-share"></i>
          <span class="d-none d-md-inline"> Share</span>
        </button>
      </div>

    </div>

  </div>
</div>
