<div class="d-flex flex-row flex-wrap">
  <ng-container *ngFor="let award of awards; let elementIndex = index">

    <ng-container *ngIf="isDetail; else noPopover">
      <!-- Icon -->
      <div aria-describedby="tooltip" appPopover [config]="popoverConfig" [tooltip]="tooltip" class="p-1"
        *ngIf="elementIndex < numberOfItems">
        <ng-container *ngTemplateOutlet="award_template; context: {$implicit: award}"></ng-container>
      </div>

      <!-- Tooltip -->
      <div #tooltip role="tooltip" class="popover-tooltip award-tooltip">
        <h5>{{award['name']}}</h5>
        <img class="award-icon-popover" [src]="getAwardIcon(award, 3) | replacePipe">
        <p>{{award['description']}}</p>
      </div>

    </ng-container>

    <ng-template #noPopover>
      <div *ngIf="elementIndex < numberOfItems" class="p-1" [title]="award['name']">
        <ng-container *ngTemplateOutlet="award_template; context: {$implicit: award}"></ng-container>
      </div>
    </ng-template>

  </ng-container>

  <span class="align-self-center post-author btn" *ngIf="!isShowAll && (getNumbersRemain() > 0)"
    (click)="showAllAwards()">Show
    {{getNumbersRemain()}} more</span>

</div>

<!-- Award Template -->
<ng-template #award_template let-award>
  <img class="award-icon" [src]="getAwardIcon(award, 1) | replacePipe">
  <span>
    {{ award['count']}}
  </span>
</ng-template>
