<span class="mr-2">{{commentData.data.author}}</span>
<span
  [title]="commentData.data.created_utc | dateTimePipe: 'format'">{{commentData.data.created_utc | dateTimePipe: 'diff'}}</span>

<!-- Awards -->
<ng-container *ngIf="commentData.data['all_awardings'] && commentData.data['all_awardings'].length > 0">
  <app-award [isDetail]="false" [awards]="commentData.data['all_awardings']"></app-award>
</ng-container>

<div class="post-comments markdown-comments" appMarkdown [selfText]="commentData.data.body"></div>
<ng-container *ngIf="enableEditor">

  <trumbowyg-editor (triggerCommentButton)="displayReplyButton($event)" *ngIf="useTrumbowygEditor(); else textAreaComment" [configs]="trumbowygConfigs"
    [editorId]="commentData.data.id"></trumbowyg-editor>

  <ng-template #textAreaComment>
    <textarea [(ngModel)]="commentContent" placeholder="What are your thoughts ?" class="form-control mb-2"></textarea>
  </ng-template>

  <button class="btn btn-dark mr-2" 
    [disabled]="disableReplyBtn"
    (click)="replyComment(commentData.data.id, commentData.kind)">Reply</button>
    
  <button class="btn btn-outline-secondary" (click)="cancelEditor()">Cancel</button>
</ng-container>
<div class="d-flex justify-content-end">
  <span (click)="showReplyEditor()" class="p-2 post-buttons btn">Reply</span>
  <app-vote [score]="commentData.data.score" [id]="commentData.data.name" [liked]="commentData.data.likes"></app-vote>
</div>
