<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">NSFW Content</h4>
    <button type="button" class="btn close" aria-label="Close" (click)="dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span>This post is marked as Not Safe For Work. The content maybe inappropriate to view in some situations.</span>
    <span>Post may contain graphic or explicit images, references, or stories</span>
    <span class="d-block">If you proceed, Show NSFW setting will be turned on</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close('Save click')">Proceed</button>
    <button type="button" class="btn btn-danger" (click)="dismiss('Cancel click')">Nah</button>
  </div>