<body>
    <div class="container">
        <div class="row">
            <div class="col-12 contents">
                <div *ngFor="let post of posts$ | async">
                    <post-item [post]=post></post-item>
                </div>

                <div *ngIf="isLoading">
                    <i class="fa-3x fas fa-sync-alt fa-spin"></i>
                </div>

                <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="2000"
                    (scrolled)="fetchData(after)"></div>

                <button class="btn btn-success" (click)="loadMore()">Load more</button>
            </div>
        </div>
    </div>
</body>