<body>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div *ngFor="let post of posts | async">
                    <div class="card mb-3">
                        <div class="card-body">
                            <p>/r/{{post.data['subreddit']}}</p>
                            <p class="float-right">by /u/{{post.data['author']}}</p>
                            <h5 class="card-title">{{post.data['title']}}</h5>
                            <img class="img-fluid" src="{{post.data['url']}}">
                            <p class="card-text">{{post.data['selftext']}}</p>
                            <span>
                                <i class="fa fa-arrow-up"></i>
                                {{post.data['score']}}
                                <i class="fa fa-arrow-down"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" (click)="loadMore()">Load more</button>
            </div>
            <div class="col-3">
                <div class="box"></div>
            </div>
        </div>
    </div>
</body>

