<div class="container">
    <div class="mb-5">
        <h4 class="p-2">Communities</h4>
        <div *ngFor="let subreddit of subreddit$ | async">
            <subreddit-item [subredditData]="subreddit"></subreddit-item>
        </div>

        <div *ngIf="subredditLoading" class="d-flex justify-content-center">
            <i class="fa-3x fas fa-sync-alt fa-spin"></i>
        </div>

        <button *ngIf="!allSubredditResults && !subredditLoading" class="mt-3 ms-2 btn btn-link"
            (click)="loadMoreSubreddits()">More results</button>
        <span *ngIf="allSubredditResults" class="p-2">No more subreddits</span>
    </div>

    <div class="mb-4" *ngIf="submission$ | async">
        <div class="d-block d-md-flex flex-row mb-4">
            <h4 class="p-2 me-auto">Sumissions</h4>
            <div class="d-flex flex-column">
                <p class="p-2">🔥 Hot Post in</p>
                <div class="btn-group p-2">
                    <button (click)="getHotSubmission('7d')" class="btn btn-success">7 Days</button>
                    <button (click)="getHotSubmission('30d')" class="btn btn-success">1 Month</button>
                    <button (click)="getHotSubmission('182d')" class="btn btn-success">6 Months</button>
                    <button (click)="getHotSubmission('1y')" class="btn btn-success">1 Year</button>
                </div>
            </div>

        </div>

        <div *ngFor="let submission of submission$ | async">
            <submission-item [submissionData]="submission"></submission-item>
        </div>

        <div *ngIf="submissionLoading" class="d-flex justify-content-center">
            <i class="fa-3x fas fa-sync-alt fa-spin"></i>
        </div>

        <button *ngIf="!allResults && !submissionLoading" class="mt-3 ms-2 btn btn-link"
            (click)="loadMoreSubmissions()">More results</button>
        <span *ngIf="allResults" class="p-2">No more posts</span>
    </div>

    <div ngbDropdown placement="top-end" class="advanced-search">
        <button class="btn btn-success icon-before icon-search-plus advanced-search-btn" ngbDropdownToggle></button>
        <div ngbDropdownMenu aria-labelledby="advancedSearchDropdown" class="p-3 advanced-search-dropdown">
            <h4>Advanced Search</h4>
            <div>
                <label for="timeOffset">Time range</label>
                <select id="timeOffset" class="form-select" [(ngModel)]="timeOffset">
                    <option>1 Day</option>
                    <option>1 Month</option>
                    <option>1 Year</option>
                </select>
            </div>
            <div>
                <label for="timeOffset">Limit results</label>
                <select id="timeOffset" class="form-select" [(ngModel)]="resultsLimit">
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <div class="mt-2">
                <label for="subredditFilter">Subreddit</label>
                <input [(ngModel)]="subredditFilter" class="form-control" id="subredditFilter">
            </div>

        </div>
    </div>

</div>