<div class="container">
    <div class="mb-4" *ngIf="subreddit$ | async">
        <div *ngFor="let subreddit of subreddits">
            <subreddit-item [subredditData]="subreddit"></subreddit-item>
        </div>
        <a class="p-2">View more results</a>
    </div>
    <div *ngIf="submission$ | async">
        <div *ngFor="let submission of submissions">
            <submission-item [submissionData]="submission"></submission-item>
        </div>
        <a class="p-2">View more results</a>
    </div>
</div>