<ng-container *ngIf="comments['length'];else noComments">

  <div class="mb-2" *ngFor="let comment of comments">

    <div *ngIf="comment.kind == 't1'; else moreReplies">
      <app-comment 
      [commentData]="comment"
      [isArchive]="isArchive"
      (submittedComment)="pushComment($event)"
      ></app-comment>
    </div>


    <div *ngIf="hasReplies(comment)" class="children">
      <post-comments [postId]="postId" [isReplies]="true" [comments]="comment.data['replies']"
                     [isArchive]="isArchive">
      </post-comments>
    </div>

    <ng-template #moreReplies>
      <div *ngIf="comment.data['children'].length > 0" class="d-flex justify-content-start">
        <a (click)="loadMoreReplies($event, comment)" href="" class="link-primary">{{comment.data['children'].length}} More Replies</a>
      </div>
    </ng-template>

  </div>

</ng-container>

<ng-template #noComments>
  <div class="p-5">
    <p class="text-center">No Comments \ (•◡•) /</p>
  </div>
</ng-template>
