<ng-container *ngIf="comments['length'];else noComments">

  <div class="mb-2" *ngFor="let comment of comments">

    <div *ngIf="comment.kind == 't1'; else moreReplies">
      <comment [commentData]="comment"></comment>
    </div>


    <div *ngIf="hasReplies(comment)" class="children">
      <post-comments [isReplies]="true" [comments]="comment.data['replies']">
      </post-comments>
    </div>

  </div>

</ng-container>

<ng-template #noComments>
  <div class="p-5">
    <p class="text-center">No Comments \ (•◡•) /</p>
  </div>
</ng-template>

<ng-template #moreReplies>
  <div class="d-flex justify-content-start">
    <span class="post-buttons">More Replies</span>
  </div>
</ng-template>
