<div class="container custom-height-container custom-width-container">
  <div class="row">
    <div class="col-12 g-0 g-md-3">
      <div *ngIf="isLoading" class="loading-spinner d-flex justify-content-center">
        <i class="fa-3x fas fa-sync-alt fa-spin"></i>
      </div>

      <ng-container *ngIf="post && !isLoading">
        <post-item [post]="post" [isDetail]="true"></post-item>
      </ng-container>

      <ng-container *ngIf="!isArchived() && !isLoading">

        <div *ngIf="!showCommentEditor(); else commentEditor" class="d-flex comment-login">
          <span class="me-3 align-self-center">Log in or sign up to leave a comment (~˘▾˘)~</span>
          <button class="btn btn-outline-primary">Log In</button>
        </div>

        <ng-template #commentEditor>
          <comment-editor (triggerCommentButton)="displayCommentButton($event)" ></comment-editor>
        </ng-template>
        

        <div *ngIf="showCommentEditor()" class="d-flex flex-row-reverse">
          <button [disabled]="disableCommentBtn" class="btn btn-dark" (click)="comment()">Comment</button>
        </div>
        
      </ng-container>

      <ng-container *ngIf="comments && !isLoading">
        <div class="comments-section">
          <post-comments [postId]="post.data['name']" [comments]="comments"></post-comments>
        </div>
      </ng-container>

    </div>
  </div>
</div>
