<div class="container px-0 custom-height-container">
    <div class="row">
        <div class="col-12 col-lg-8 col-md-10 px-0 px-md-4 px-lg-5 contents">
            <app-sort [showFeed]="isLoggedIn && !subreddit" (changeSort)="changeSort($event)"
                (changeFeedEmitter)="changeSort($event)"></app-sort>

            <div *ngIf="isError && !isLoading" class="p-2 p-md-3 d-flex justify-content-center">
                <div class="me-2 me-md-4">
                    <span class="align-self-center">Oops there is an error :( </span>
                    <pre>{{errorMsg}}</pre>
                </div>
                <button (click)="loadMore($event); isError = false;" class="btn btn-outline-secondary rounded-btn">Try
                    again</button>
            </div>

            <div *rxFor="let post of posts$ | async">
                <post-item [post]="post"></post-item>
            </div>
            <div *ngIf="isLoading" class="d-flex justify-content-center loading-spinner mt-2 mb-4">
                <i class="fa-3x fas fa-sync-alt fa-spin"></i>
            </div>

            <app-scroll-top-button [targetElementId]="'navbar-top'"></app-scroll-top-button>

            <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="1500"
                (scrolled)="loadMore($event)"></div>
        </div>

    </div>
</div>