<div class="container custom-height-container">
    <div class="row">
        <div class="col-12 contents">
            <app-sort (changeSort)="changeSort($event)"></app-sort>
            <div>
                <button class="btn btn-link" *ngIf="previousData.length > 0" (click)="loadPrevious()">Load previous</button>
            </div>

            <div *ngIf="isError && !isLoading" class="p-2 p-md-3 d-flex justify-content-center">
                <div class="me-2 me-md-4">
                    <span class="align-self-center">Oops there is an error :( </span>
                    <pre>{{errorMsg}}</pre>
                </div>
                <button (click)="loadMore($event); isError = false;" class="btn btn-outline-secondary rounded-btn">Try again</button>
            </div>

            <div *ngFor="let post of posts$ | async">
                <post-item [post]="post"></post-item>
            </div>

            <div *ngIf="isLoading" class="d-flex justify-content-center loading-spinner mt-2 mb-4">
                <i class="fa-3x fas fa-sync-alt fa-spin"></i>
            </div>

            <scroll-top-button [targetElementId]="'navbar-top'"></scroll-top-button>

            <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="1500"
                 (scrolled)="loadMore($event)"
                 ></div>
        </div>
    </div>
</div>